* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../imgs/city.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
}

.card {
    margin: 30px auto 30px auto;
    width: 65%;
    opacity: 50%;
}

.jumbotron {
    margin: 15px auto 30px auto;
    width: 85%;
    opacity: 50%;
    max-height: 90px;
}


form {
    margin: auto;
}

@media screen and (max-width:768) {
    #submit-btn {
        text-align: center;
    }
    .submit-div {
        display: block;
            text-align: center;
        }
    }

    .container {
        min-height: 100vh;
    }

    .hiddenE {
        display: none;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }

    .carousel-inner {
          height: 600px;
          margin-bottom: 10px;

      }